<!DOCTYPE html>
<html>
   <head> 
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
      <meta name="mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-capable" content="yes">
      
      <title>{{title}}</title> 
      <meta name="description" content="{{description}}">

      <script src="/js/GCF.js" type="text/javascript"></script>
      <script src="/js/GCAP.js" type="text/javascript"></script>
      <script src="/js/GCSlider.js" type="text/javascript"></script>
      <link rel="shortcut icon" href="/images/favicon.ico">
      <link rel="stylesheet" type="text/css" href="/server/html/_admin/template/template.css"></link>
      {{resource}}
   </head>
   <body data-template="{{template}}">
      <component path="_admin/menu"></component>
      <div id="GC">
         <div id="GC-window">
            <div class="GC-page GC-page-{{className}}">{{HTML}}</div>
         </div>
      </div>
      <div id="popupBox">
         <div id="popupClose" onclick="admin.popup.close();">X</div>
         <div id="popup"></div>
      </div>
      <component path="_admin/template?bottom">
         <year>{{year}}</year>
      </component>
   </body> 
</html>